admin/.next
admin/node_modules
admin/out
admin/README.md

backend/migration/target
backend/migration/README.md
backend/target
backend/docker-compose.yml
backend/README.md

web/.next
web/node_modules
web/README.md