.root {
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url("/hero.jpg");
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 110vh;

    filter: drop-shadow(0 0 4px black);

    color: white;

    text-align: left;


}

.spacer {
    height: 100vh;
}

.content {
    filter: drop-shadow(0 0 4px black);
}

/* テキストのレスポンシブcss */
@media screen and (max-width: 650px) {
    .root {
        padding: 35vh 2em;
    }

    .catchCopy {
        text-align: left;
        margin: 0;
    }
    .title {
        font-size: 56px;
        margin: 0;
    }
    .schedule {
        margin: 0;
    }
    .deadline {
        margin: 1em 0;
    }

    .deadline>ul>li {
        list-style: none;
        text-indent: 2em;
    }
}

@media screen and (min-width: 650px) {
    .root {
        padding: 35vh 10em;
    }
    .catchCopy {
        text-align: left;
        margin: 0;
    }
    .title {
        font-size: 56px;
        margin: 0;
    }
    .schedule {
        margin: 0;
    }
    .deadline {
        margin: 1em 0;
    }

    .deadline>ul>li {
        list-style: none;
        text-indent: 2em;
    }
}

@media screen and (max-width: 1200px) {
    .root {
        clip-path: url("#waveClipNarrow");
    }
}

@media screen and (min-width: 1200px) {
    .root {
        clip-path: url("#waveClipWide");
    }
}