openapi: 3.1.0
info:
  title: 工大祭API v1
  description: 工大祭のapiです。
  version: '1'
servers:
  - url: "https://portal.koudaisai.jp/api/v1"
tags:
  - name: user
    description: ユーザー情報
  - name: exhibitions
    description: 参加団体関連
  - name: forms
    description: フォーム関連
  - name: form_responses
    description: フォームの回答関連
  - name: documents
    description: 資料関連
  - name: files
    description: ファイル関連
  - name: notifications
    description: 通知機能関連
paths:
  # exhibitions
  /exhibitors:
    $ref: paths/exhibitors.yml
  /exhibitors/{id}:
    $ref: paths/exhibitors_{id}.yml
  # forms
  /forms:
    $ref: paths/forms.yml
  /forms/{form_id}:
    $ref: paths/forms_{form_id}.yml
  # documents
  /documents:
    $ref: paths/documents.yml
  /documents/by-category:
    $ref: paths/documents_by-category.yml
  /documents/{document_id}:
    $ref: paths/documents_{document_id}.yml
  /document-categories:
    $ref: paths/document-categories.yml
  /document-categories/{category_id}:
    $ref: paths/document-categories_{category_id}.yml
  # files
  /files/upload:
    $ref: paths/files_upload.yml
  /files/download:
    $ref: paths/files_download.yml
  # users
  /users:
    $ref: paths/users.yml
  /users/{user_id}:
    $ref: paths/users_{user_id}.yml
  /users/{user_id}/notifications:
    $ref: paths/users_{user_id}_notifications.yml
  # notifications
  /notifications:
    $ref: paths/notifications.yml
  /notifications/{notification_id}:
    $ref: paths/notifications_{notification_id}.yml

components:
  securitySchemes:
    admin_oidc:
      type: openIdConnect
      openIdConnectUrl: https://auth2024.jizi.jp/realms/JIZI-Portal/.well-known/openid-configuration
    exhibitor_bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT