
.formWrapper{
    width: 600px;
    width: 50vw;
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 4px 4px 0px 0px var(--darkblue);
    margin: 30px;
    display: inline-block;
    text-align: left;
    background-color: white;
}

.questionWrapper{
    margin: 20px 0;
}

.buttonsWrapper{
    width: 100%;
    border-top: 1px solid var(--lightblue);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.checkBox{
    width: 20px;
    height: 20px;
}

