.header{
    padding: 20px;
    position: relative;
    text-align: center;
}

.logoWrapper{
    text-align: left;
}

.menuWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}