.questionWrapper{
    width: 600px;
    width: 50vw;
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 4px 4px 0px 0px var(--darkblue);
    margin: 10px 30px;
    display: inline-block;
    text-align: left;
    background-color: white;
}

.questionWrapper h1{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.questionWrapper p{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.45px;
    margin: 20px 0 10px;
}

.textBox{
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 150%;
    font-size: 16px;
    width: 200px;
}

.textBox:focus{
    outline: none;
    background-color: var(--lightgray);
    border-color: var(--darkblue);
}
