.header {
    padding: 30px;
    position: relative;
    text-align: center;
}

.logoWrapper {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}