.textBox{
    font-size: 16px;
    padding: 6px;
    border-bottom: 1px solid var(--gray);
    border-top: none;
    border-left: none;
    border-right: none;
    animation: 1s ease;
}

.textBox:focus{
    outline: none;
    background-color: var(--lightgray);
    border-color: var(--darkblue);
}