.root {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 60px;
    border: none;
    background: none;

    filter: drop-shadow(0px 0px 12px rgba(37, 54, 97, 0.25));

    cursor: pointer;
}

.label {
    font-weight: bold;
}

.button {
    width: 60px;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #0048FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}