.textBox {
    background-color: var(--background);
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 150%;
}

.textBox:focus {
    outline: none;
    background-color: var(--lightgray);
    border-color: var(--darkblue);
}

.Paragraph {
    background-color: var(--background);
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 150%;
    resize: none;
    field-sizing: content;
    min-height: 50px;
    max-height: 300px;
}

.Paragraph:focus {
    outline: none;
    background-color: var(--lightgray);
    border-color: var(--darkblue);
}